<!-- templates/paymentrequest.html -->
{% extends 'base.html' %}

{% block title %}Payment Request {% endblock %}

{% block content %}
    <div class="text-center p-2"> <h1 class="display-4">Payment Request</h1>

        <p class="p-2">Here you can send in your Payment requests</p></div>

{% if user.is_authenticated %}
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
         <div class="form-group">
            <label for="InvoiceName">Company name/person name*</label>
            {{ form.name }}
            <div >{{ form.name.errors }}</div>
         </div>

        <div class="form-group">
            <label for="iban">IBAN*</label>
            {{ form.iban }}
            <div >{{ form.iban.errors }}</div>
         </div>

        <div class="form-group">
            <label for="bicc">BICC</label>
            {{ form.bicc }}
            <div >{{ form.bicc.errors }}</div>
         </div>

        <div class="form-group">
            <label for="InvoiceAmoun">Amount in €*</label>
            {{ form.amount }}
            <small id="passwordHelpBlock" class="form-text text-muted">
  If your invoice is not in Euro's please use <a href="https://www.oanda.com/currency/converter/">Oanda</a> to convert your currenty to Euro's. Please do not forget to change the date to date on your invoice.
</small>

            <div >{{ form.amount.errors }}</div>
         </div>
        <div class="form-group">
            <label for="InvoiceProject">Project*</label>
            {{ form.project }}

            <div >{{ form.project.errors }}</div>
         </div>
        <div class="form-group">
            <label for="Invoiceinput"> Upload your invoice*</label>
            {{ form.invoice }}
            <small id="passwordHelpBlock" class="form-text text-muted">
  The invoice has to be an image or an pdf
</small>
            <div >{{ form.invoice.errors }}</div>
         </div>
        <button type="submit" class="save btn btn-default">Save</button>



    </form>



    {% else %}

        <div class="alert alert-danger">
        <h4 class="alert-heading">Warning!</h4>
         <p>To visit this page please first <a href="{% url 'login' %}" class="alert-link">login</a></p>
        </div>
    {% endif %}


{% endblock %}
